* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292E32;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.cuartos{
    flex-wrap: wrap;
    display: flex;
}

.semis{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.team:hover {
    background-color: #565656;
    cursor: pointer;
}

h3 {
    margin-top: 90px;
    margin-bottom: 20px;
    color: #ff4655;
    font-size: 20px;
}
h2 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}



.cuartos .matchup, .semis .matchup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.cuartos .matchup:after, .semis .matchup:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;  
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}