/*ARCHIVO CON EL ESTILO GENERAL DE LA PAGINA*/

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #272727;
    margin: 5px 0;
    font-size: 18px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    border-left: 4px solid #0f1519;
}

.team .score{
    font-size: 18px;
    color: inherit;
}
.team.lost .score{
    color: #8fa3b0;
}
.team.won .score{
    color: #c79e57;
}